body{
  background-repeat: no-repeat;
  background-size: 100%;
}
input {
  padding: 10px;
  border-radius: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
}

#upload {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1c73c3;
}

#headerSection {
  padding: 2px;
  font-family: Cursive;
}

#loginSection {
  padding: 5px;
  width: 40%;
  margin: 7%;
  border-radius: 10%;
  background-color: rgb(47,47,47,0.4);
}

#reg{
  padding: 5px;
  border-radius: 7%;
  background-color: rgb(47,47,47,0.4);
    width: 40%;
    margin-left: 7%;
}



#loginbtn {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
#loginbtn:hover{
  
  color:black ;
  background-color: #c6d7db;
}

#reglink {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#mainSection {
  padding: 10px;
}

#profileSection {
  width: 30%;
  float: left;
  background-color: #c6d7db;
  padding: 20px;
}

#groupSection {
  width: 60%;
  float: right;
  background-color: #c6d7db;
  padding: 20px;
}

#back-button {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#logout-button {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
.b {
  text-decoration: none;
    padding: 5px 20px;
    background: #ff4d73;
    
    border: 1px solid #ff4d73;
    font-size: 16px;
    
    position: absolute;
    right: 2%;
    top: 5%;
    transition: .5s;

}
.b:hover{
    background: transparent ;
}

